<header>
  <div class="logo brand">
    <img src="/logo.svg" width="40" height="40" style="vertical-align:middle" />
    <span style="font-size:2em;font-weight:bold;color:#ff9100;">GuidanceX</span>
  </div>
  <hr style="border: none; height: 2px; background: linear-gradient(90deg, #ff6500, #ff9100); margin: 18px 0;" />
</header>
